# Spaceship Titanic Competition in kaggle

In [1]:
! unzip /content/spaceship-titanic.zip

Archive:  /content/spaceship-titanic.zip
  inflating: sample_submission.csv
  inflating: test.csv
  inflating: train.csv

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [85]:
df_train = pd.read_csv('/content/train.csv')
df_test = pd.read_csv('/content/test.csv')
df_test['Transported'] = False
df = pd.concat([df_train, df_test],sort=False)
df.drop(['Name','PassengerId'],axis=1 , inplace=True)

In [86]:
df.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

In [87]:
df.shape[0] == df_train.shape[0] + df_test.shape[0]

True

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12970 entries, 0 to 4276
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    12682 non-null  object
 1   CryoSleep     12660 non-null  object
 2   Cabin         12671 non-null  object
 3   Destination   12696 non-null  object
 4   Age           12700 non-null  float64
 5   VIP           12674 non-null  object
 6   RoomService   12707 non-null  float64
 7   FoodCourt     12681 non-null  float64
 8   ShoppingMall  12664 non-null  float64
 9   Spa           12686 non-null  float64
 10  VRDeck        12702 non-null  float64
 11  Transported   12970 non-null  bool
dtypes: bool(1), float64(6), object(5)
memory usage: 1.2+ MB

In [89]:
df.isna().sum()

HomePlanet      288
CryoSleep       310
Cabin           299
Destination     274
Age             270
VIP             296
RoomService     263
FoodCourt       289
ShoppingMall    306
Spa             284
VRDeck          268
Transported       0
dtype: int64

In [90]:
df.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

in column Cabin we need to sepaate them into three column by doing some featues engineering

In [91]:
df[['Deck','Num','Side']] = df['Cabin'].str.split('/',expand=True)
df.drop('Cabin',axis=1,inplace=True)
df['Deck'] = df['Deck'].fillna('U')

In [92]:
df.Deck.value_counts()

Deck
F    4239
G    3781
E    1323
B    1141
C    1102
D     720
A     354
U     299
T      11
Name: count, dtype: int64

In [93]:
df.isna().sum()[df.isna().sum()>0]

HomePlanet      288
CryoSleep       310
Destination     274
Age             270
VIP             296
RoomService     263
FoodCourt       289
ShoppingMall    306
Spa             284
VRDeck          268
Num             299
Side            299
dtype: int64

In [94]:
df['Num']= df['Num'].fillna(-1)
df['Side'] = df['Side'].fillna('U')

In [95]:
df.isna().sum()[df.isna().sum()>0]

HomePlanet      288
CryoSleep       310
Destination     274
Age             270
VIP             296
RoomService     263
FoodCourt       289
ShoppingMall    306
Spa             284
VRDeck          268
dtype: int64

In [96]:
df.Deck.value_counts()

Deck
F    4239
G    3781
E    1323
B    1141
C    1102
D     720
A     354
U     299
T      11
Name: count, dtype: int64

In [97]:
df.Num.value_counts()

Num
-1      299
82       34
56       28
4        28
230      27
       ...
1544      1
1623      1
1835      1
1833      1
1890      1
Name: count, Length: 1895, dtype: int64

In [98]:
df.Side.value_counts()

Side
S    6381
P    6290
U     299
Name: count, dtype: int64

In [99]:
# encoding label
df['Deck']=df['Deck'].map({'A':0,'B':1,'C':2,'D':3,'E':4,'F':5,'G':6,'T':7,'U':8})
df['Side']=df['Side'].map({'U':-1,'P':1,'S':2})

In [100]:
df

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Deck,Num,Side
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False,1,0,1
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True,5,0,2
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,0,0,2
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,0,0,2
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True,5,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,Earth,True,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,False,6,1496,2
4273,Earth,False,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,False,8,-1,-1
4274,Mars,True,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,False,3,296,1
4275,Europa,False,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,False,3,297,1
4276,Earth,True,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,False,6,1498,2

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12970 entries, 0 to 4276
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    12682 non-null  object
 1   CryoSleep     12660 non-null  object
 2   Destination   12696 non-null  object
 3   Age           12700 non-null  float64
 4   VIP           12674 non-null  object
 5   RoomService   12707 non-null  float64
 6   FoodCourt     12681 non-null  float64
 7   ShoppingMall  12664 non-null  float64
 8   Spa           12686 non-null  float64
 9   VRDeck        12702 non-null  float64
 10  Transported   12970 non-null  bool
 11  Deck          12970 non-null  int64
 12  Num           12970 non-null  object
 13  Side          12970 non-null  int64
dtypes: bool(1), float64(6), int64(2), object(5)
memory usage: 1.4+ MB

In [102]:
from sklearn.impute import KNNImputer
impute_lis = ['Age', 'VIP', 'Num', 'CryoSleep', 'Side', 'Deck', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
rest = list(set(df.columns) - set(impute_lis))
df_rest = df[rest]
imp = KNNImputer()
df_imputed = imp.fit_transform(df[impute_lis])
df_imputed = pd.DataFrame(df_imputed, columns = impute_lis)
df = pd.concat([df_rest.reset_index(drop = True), df_imputed.reset_index(drop = True)], axis = 1)

In [103]:
df.isna().sum()

HomePlanet      288
Destination     274
Transported       0
Age               0
VIP               0
Num               0
CryoSleep         0
Side              0
Deck              0
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
dtype: int64

In [104]:
df['HomePlanet'] = df['HomePlanet'].fillna('U')
df['Destination'] = df['Destination'].fillna('U')
category_colls = ['HomePlanet', 'Destination']

for col in category_colls:
    df = pd.concat([df, pd.get_dummies(df[col], prefix = col)], axis = 1)

In [105]:
df = df.drop(columns = category_colls)

In [106]:
df.isna().sum()

Transported                  0
Age                          0
VIP                          0
Num                          0
CryoSleep                    0
Side                         0
Deck                         0
RoomService                  0
FoodCourt                    0
ShoppingMall                 0
Spa                          0
VRDeck                       0
HomePlanet_Earth             0
HomePlanet_Europa            0
HomePlanet_Mars              0
HomePlanet_U                 0
Destination_55 Cancri e      0
Destination_PSO J318.5-22    0
Destination_TRAPPIST-1e      0
Destination_U                0
dtype: int64

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12970 entries, 0 to 12969
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Transported                12970 non-null  bool
 1   Age                        12970 non-null  float64
 2   VIP                        12970 non-null  float64
 3   Num                        12970 non-null  float64
 4   CryoSleep                  12970 non-null  float64
 5   Side                       12970 non-null  float64
 6   Deck                       12970 non-null  float64
 7   RoomService                12970 non-null  float64
 8   FoodCourt                  12970 non-null  float64
 9   ShoppingMall               12970 non-null  float64
 10  Spa                        12970 non-null  float64
 11  VRDeck                     12970 non-null  float64
 12  HomePlanet_Earth           12970 non-null  bool
 13  HomePlanet_Europa          12970 non-null  bool
 14  HomePlanet_Mars            12970 non-null  bool
 15  HomePlanet_U               12970 non-null  bool
 16  Destination_55 Cancri e    12970 non-null  bool
 17  Destination_PSO J318.5-22  12970 non-null  bool
 18  Destination_TRAPPIST-1e    12970 non-null  bool
 19  Destination_U              12970 non-null  bool
dtypes: bool(9), float64(11)
memory usage: 1.2 MB

In [108]:
# feature Engineering
bill_cols = ['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
df['amt_spent'] = df[bill_cols].sum(axis = 1)
df['std_amt_spent'] = df[bill_cols].std(axis = 1)
df['mean_amt_spent'] = df[bill_cols].mean(axis = 1)

df['3_high_cols'] = df['CryoSleep'] + df['HomePlanet_Europa'] + df['Destination_55 Cancri e']
df['3_low_cols'] = df['mean_amt_spent'] + df['amt_spent'] + df['HomePlanet_Earth']

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12970 entries, 0 to 12969
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Transported                12970 non-null  bool
 1   Age                        12970 non-null  float64
 2   VIP                        12970 non-null  float64
 3   Num                        12970 non-null  float64
 4   CryoSleep                  12970 non-null  float64
 5   Side                       12970 non-null  float64
 6   Deck                       12970 non-null  float64
 7   RoomService                12970 non-null  float64
 8   FoodCourt                  12970 non-null  float64
 9   ShoppingMall               12970 non-null  float64
 10  Spa                        12970 non-null  float64
 11  VRDeck                     12970 non-null  float64
 12  HomePlanet_Earth           12970 non-null  bool
 13  HomePlanet_Europa          12970 non-null  bool
 14  HomePlanet_Mars            12970 non-null  bool
 15  HomePlanet_U               12970 non-null  bool
 16  Destination_55 Cancri e    12970 non-null  bool
 17  Destination_PSO J318.5-22  12970 non-null  bool
 18  Destination_TRAPPIST-1e    12970 non-null  bool
 19  Destination_U              12970 non-null  bool
 20  amt_spent                  12970 non-null  float64
 21  std_amt_spent              12970 non-null  float64
 22  mean_amt_spent             12970 non-null  float64
 23  3_high_cols                12970 non-null  float64
 24  3_low_cols                 12970 non-null  float64
dtypes: bool(9), float64(16)
memory usage: 1.7 MB

In [112]:
df.corr()['Transported'].sort_values(ascending = False)

Transported                  1.000000
CryoSleep                    0.324373
3_high_cols                  0.284177
HomePlanet_Europa            0.131977
Destination_55 Cancri e      0.083625
Side                         0.059872
FoodCourt                    0.034746
HomePlanet_U                 0.006403
HomePlanet_Mars              0.005643
ShoppingMall                 0.004154
Destination_PSO J318.5-22    0.000760
Destination_U               -0.000554
VIP                         -0.018720
Num                         -0.035240
Age                         -0.050602
Destination_TRAPPIST-1e     -0.072731
Deck                        -0.084981
HomePlanet_Earth            -0.119644
std_amt_spent               -0.121135
amt_spent                   -0.140425
mean_amt_spent              -0.140425
3_low_cols                  -0.140448
VRDeck                      -0.142783
Spa                         -0.154759
RoomService                 -0.174781
Name: Transported, dtype: float64

In [113]:
df.Transported.value_counts()

Transported
False    8592
True     4378
Name: count, dtype: int64

## Modeling

In [127]:
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier , AdaBoostClassifier , GradientBoostingClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score , classification_report , precision_score , recall_score , f1_score , accuracy_score , confusion_matrix

In [115]:
df_train = df[:df_train.shape[0]]
df_test = df[df_train.shape[0]:]
df_test.drop('Transported',axis=1,inplace=True)
df_train.shape , df_test.shape

<ipython-input-115-9fb0b8e7c210>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test.drop('Transported',axis=1,inplace=True)

((8693, 25), (4277, 24))

In [116]:
df_train.Transported.value_counts()

Transported
True     4378
False    4315
Name: count, dtype: int64

In [131]:
## Split data
X = df_train.drop('Transported',axis=1)
y = df_train['Transported']

X_tarin , X_test , y_train , y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [120]:
model_1 = XGBClassifier()
model_1.fit(X_tarin,y_train)
y_pred = model_1.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

       False       0.79      0.79      0.79       861
        True       0.79      0.79      0.79       878

    accuracy                           0.79      1739
   macro avg       0.79      0.79      0.79      1739
weighted avg       0.79      0.79      0.79      1739

In [121]:
model_2 = DecisionTreeClassifier()
model_2.fit(X_tarin,y_train)
y_pred = model_2.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

       False       0.76      0.75      0.75       861
        True       0.75      0.76      0.76       878

    accuracy                           0.76      1739
   macro avg       0.76      0.76      0.76      1739
weighted avg       0.76      0.76      0.76      1739

In [122]:
model_3 = RandomForestClassifier()
model_3.fit(X_tarin,y_train)
y_pred = model_3.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

       False       0.78      0.81      0.79       861
        True       0.81      0.77      0.79       878

    accuracy                           0.79      1739
   macro avg       0.79      0.79      0.79      1739
weighted avg       0.79      0.79      0.79      1739

In [123]:
model_4 = AdaBoostClassifier()
model_4.fit(X_tarin,y_train)
y_pred = model_4.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

       False       0.79      0.73      0.76       861
        True       0.76      0.81      0.78       878

    accuracy                           0.77      1739
   macro avg       0.77      0.77      0.77      1739
weighted avg       0.77      0.77      0.77      1739

In [124]:
model_5 = GradientBoostingClassifier()
model_5.fit(X_tarin,y_train)
y_pred = model_5.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

       False       0.81      0.75      0.78       861
        True       0.77      0.83      0.80       878

    accuracy                           0.79      1739
   macro avg       0.79      0.79      0.79      1739
weighted avg       0.79      0.79      0.79      1739

In [125]:
model_6 = LGBMClassifier()
model_6.fit(X_tarin,y_train)
y_pred = model_6.predict(X_test)
print(classification_report(y_test,y_pred))

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Number of positive: 3500, number of negative: 3454
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001417 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 2705
[LightGBM] [Info] Number of data points in the train set: 6954, number of used features: 24
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.503307 -> initscore=0.013230
[LightGBM] [Info] Start training from score 0.013230
              precision    recall  f1-score   support

       False       0.81      0.78      0.80       861
        True       0.79      0.82      0.81       878

    accuracy                           0.80      1739
   macro avg       0.80      0.80      0.80      1739
weighted avg       0.80      0.80      0.80      1739

In [128]:
model_7 = LogisticRegression()
model_7.fit(X_tarin,y_train)
y_pred = model_7.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

       False       0.80      0.73      0.76       861
        True       0.75      0.83      0.79       878

    accuracy                           0.78      1739
   macro avg       0.78      0.78      0.78      1739
weighted avg       0.78      0.78      0.78      1739

/usr/local/lib/python3.11/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

##HyperParameter

In [133]:
# XGboost Classifer
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score  # Or any other relevant metric

# Assuming you have your data in X_train, y_train

# Create an XGBoost classifier object


# Define the hyperparameter grid to search
param_grid = {
    'learning_rate': [0.01, 0.1, 0.2],
    'n_estimators': [100, 200, 300],
    'max_depth': [3, 5, 7],
    'subsample': [0.8, 0.9, 1.0],
    'colsample_bytree': [0.8, 0.9, 1.0],
}

# Create a GridSearchCV object
grid_search = GridSearchCV(
    estimator=model_1,
    param_grid=param_grid,
    scoring='accuracy',  # Use your desired scoring metric
    cv=5,  # Number of cross-validation folds
    n_jobs=-1,  # Use all available CPU cores
    verbose=2,  # Print detailed output during the search
)

# Fit the GridSearchCV object to your training data
grid_search.fit(X_tarin, y_train)

# Print the best hyperparameters found
print("Best hyperparameters:", grid_search.best_params_)

# Get the best model
best_xgb_model = grid_search.best_estimator_

# Make predictions on the test set (if you have one)
y_pred = best_xgb_model.predict(X_test)

# Evaluate the model's performance
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Fitting 5 folds for each of 243 candidates, totalling 1215 fits
Best hyperparameters: {'colsample_bytree': 1.0, 'learning_rate': 0.1, 'max_depth': 3, 'n_estimators': 300, 'subsample': 0.9}
Accuracy: 0.7941345600920069

In [137]:
opt_mode1 = XGBClassifier(colsample_bytree= 1.0, learning_rate= 0.1, max_depth= 3, n_estimators= 300, subsample= 0.9)
opt_mode1.fit(X_tarin,y_train)
y_pred = opt_mode1.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

       False       0.80      0.77      0.79       861
        True       0.79      0.81      0.80       878

    accuracy                           0.79      1739
   macro avg       0.79      0.79      0.79      1739
weighted avg       0.79      0.79      0.79      1739

In [138]:
# Define the hyperparameter grid to search
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 5, 10, 20],  # Include None for unlimited depth
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['auto', 'sqrt', 'log2']
}

# Create a GridSearchCV object
grid_search = GridSearchCV(
    estimator=model_3,  # Assuming model_3 is your RandomForestClassifier
    param_grid=param_grid,
    scoring='accuracy',
    cv=5,
    n_jobs=-1,
    verbose=2,
)

# Fit the GridSearchCV object to your training data
grid_search.fit(X_tarin, y_train)

# Print the best hyperparameters found
print("Best hyperparameters:", grid_search.best_params_)

# Get the best model
best_rf_model = grid_search.best_estimator_

# Make predictions on the test set
y_pred = best_rf_model.predict(X_test)

# Evaluate the model's performance
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)
print(classification_report(y_test, y_pred)) # Added classification_report

Fitting 5 folds for each of 324 candidates, totalling 1620 fits

/usr/local/lib/python3.11/dist-packages/joblib/externals/loky/process_executor.py:752: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  warnings.warn(
/usr/local/lib/python3.11/dist-packages/sklearn/model_selection/_validation.py:528: FitFailedWarning:
540 fits failed out of a total of 1620.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
65 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.11/dist-packages/sklearn/model_selection/_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.11/dist-packages/sklearn/base.py", line 1382, in wrapper
    estimator._validate_params()
  File "/usr/local/lib/python3.11/dist-packages/sklearn/base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "/usr/local/lib/python3.11/dist-packages/sklearn/utils/_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
475 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.11/dist-packages/sklearn/model_selection/_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.11/dist-packages/sklearn/base.py", line 1382, in wrapper
    estimator._validate_params()
  File "/usr/local/lib/python3.11/dist-packages/sklearn/base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "/usr/local/lib/python3.11/dist-packages/sklearn/utils/_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.11/dist-packages/sklearn/model_selection/_search.py:1108: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan 0.79637691 0.79781494 0.80097833
 0.79867721 0.80126662 0.79968492 0.79882223 0.79910949 0.80040321
 0.80471789 0.80198501 0.80212952 0.80342324 0.8038551  0.8039993
 0.80256065 0.8022734  0.80227278 0.80241667 0.80328008 0.80184175
 0.79954093 0.80313619 0.8021289  0.80457401 0.80227351 0.80327998
 0.79925316 0.80026005 0.79910949 0.80083414 0.80069067 0.80112212
 0.79839006 0.80083476 0.80040342 0.80169807 0.80241708 0.80342407
 0.80169766 0.80256045 0.80299283 0.8019847  0.8039994  0.80313568
 0.80026046 0.80327967 0.8015547  0.8031364  0.80212962 0.80371091
 0.80500535 0.80327998 0.80313568        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.76546111 0.76747488 0.76718731 0.76646913 0.76387931 0.76589287
 0.76632432 0.76618105 0.76459925 0.77006356 0.76661198 0.76517386
 0.76488691 0.76833819 0.76747508 0.7666124  0.76718762 0.76733151
 0.76574929 0.76589349 0.76603644 0.76790601 0.76546173 0.76517448
 0.76776296 0.76546173 0.76474282 0.76704395 0.76934414 0.76805052
 0.76977579 0.76690016 0.76517396 0.76531722 0.76718731 0.76632452
 0.76704343 0.76646861 0.76445516 0.77035071 0.76632504 0.76560541
 0.76474313 0.76618095 0.76488691 0.76704436 0.76862534 0.7641679
 0.76531712 0.7648865  0.76618064 0.76733161 0.76502997 0.76661188
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan 0.7998285  0.80126683 0.79982881
 0.7991099  0.79997331 0.79968461 0.80256107 0.80169859 0.79997311
 0.80097916 0.80026036 0.80112346 0.8006917  0.79954093 0.79968523
 0.80083559 0.80011647 0.80141113 0.7999729  0.79795975 0.79867866
 0.79968513 0.79968544 0.79867887 0.80227371 0.80011606 0.79954155
 0.79853477 0.79954176 0.8014104  0.79853457 0.80040424 0.80083559
 0.79867897 0.80026025 0.79982943 0.79896581 0.80040445 0.80126735
 0.80054771 0.80227299 0.7991098  0.80097896 0.80097947 0.80054823
 0.80112336 0.79781607 0.79925399 0.79795975 0.79824711 0.79982912
 0.79939757 0.80011699 0.79982912        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.79767105 0.80069098 0.80198574 0.80011699 0.80313537 0.80140989
 0.80054627 0.79939664 0.80097896 0.8014102  0.80284842 0.80327956
 0.80342396 0.80299241 0.80327967 0.79925358 0.80256086 0.80069108
 0.80198532 0.80385489 0.80270485 0.80356816 0.80256096 0.80112243
 0.80270495 0.80112305 0.80256055 0.79997197 0.80011668 0.80299159
 0.7996843  0.80112263 0.80342386 0.80040279 0.79867773 0.79882141
 0.80169848 0.80356744 0.80342355 0.80256096 0.80184195 0.80529343
 0.80184216 0.80256096 0.80241677 0.79925358 0.8037108  0.80241718
 0.80342345 0.80270464 0.80169724 0.80054761 0.80313588 0.80025943]
  warnings.warn(

Best hyperparameters: {'max_depth': 20, 'max_features': 'log2', 'min_samples_leaf': 2, 'min_samples_split': 5, 'n_estimators': 300}
Accuracy: 0.7918343875790684
              precision    recall  f1-score   support

       False       0.79      0.79      0.79       861
        True       0.79      0.80      0.79       878

    accuracy                           0.79      1739
   macro avg       0.79      0.79      0.79      1739
weighted avg       0.79      0.79      0.79      1739

In [142]:
test_data = pd.read_csv('/content/test.csv')
pred = model_3.predict(df_test)

submission = pd.DataFrame()
submission['PassengerId'] = test_data['PassengerId']
submission['Transported'] = pred
submission.to_csv('final_submission_SpaceShip_Titanic.csv', index=False)